<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML Review </title>

    <! --- container for metadata (not displayed) -->
</head>
<body>

<p>Welcome to Java Developer</p>

<h1 align="center" style="color: blue">Spring Boot </h1>

<h2>Spring Boot </h2>
<h3>Spring Boot </h3>
<a href="https://cydeo.com">Cydeo</a>
<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>

</ul>

<br>
<br>

<table>
    <tr>
        <td>Firsrname</td>
        <td>Lastname</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>
</table>

<br>
<label>Username:</label>
<input type="text" name="usermane">

<br>
<br>
<label>Password:</label>
<input type="password">

<br>
<br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>

<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other

<br>
<label>Please select Favorite course</label>
<input type="checkbox" name="gender" value="male">Spring
<input type="checkbox" name="gender" value="female">DS
<input type="checkbox" name="gender" value="other">Java

<br>
<br>
<label>Select Your Program</label>
<select>
    <option value="us_sdet">US SDET</option>
    <option value="eu_sdet">EU SDET</option>
    <option value="jd_sdet">US JD</option>
    <option value="al_sdet">JD AL</option>
</select>
<br>
<br>
<form action="#" method="get">
    Firstname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="lastname">
    <br>
    <input type="button" value="submit">
    <br>
</form>
<br>

<div style="background-color: aqua">
    <h3>JAVA DEVELOPER COURSE</h3>
    <ul>
        <li>SPRING</li>
        <li>DATA STRUCTURE</li>
    </ul>



</div>



</body>
</html>